<div class="container">
	<div class="panel panel-default ">
		<div class="alert alert-success">
			<span class="lead">Welcome to User Registration System</span>
		</div>
		<div class="container-fluid">
		<div class="panel-body ">
			<div class="alert alert-info">
				<ul>
					<li class="active" ng-show="authenticated"><a href="#!/list-all-users">Please click on
						<strong>List All Users</strong> to get all Users</a>
					</li>
					<li class="active" ng-show="authenticated"><a href="#!/list-all-roles">Please click on
						<strong>List All Roles</strong> to get all Roles</a>
					</li>
					<li class="active" ng-show="authenticated"><a href="#!/list-all-tabs">Please click on
						<strong>List All Tabs</strong> to get all Tabs</a>
					</li>
					<li class="active" ng-show="authenticated"><a href="#!/list-all-features">Please click on
						<strong>List All Features</strong> to get all Features</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	</div>
</div>