<div class="container pb-modalreglog-container">
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <div class="modal fade" id="assignFeaturesModal" tabindex="-1" role="dialog" aria-labelledby="assignFeaturesModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeTabModal()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="assignFeaturesModalLabel">Assign Feature to Tab</h4>
                        </div>
                        <div class="modal-body">
                            <form ng-submit="" class="pb-modalreglog-form-reg">
                                <div class="form-group">
                                    <div id="pb-modalreglog-progressbar2"></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div>Available Features</div>
                                        <select size="5" multiple ng-model="availableFeatures" style="width: 100%; height: 150px;" ng-options="feature.name for feature in tabfeatures.availableFeatures track by feature.id"></select>
                                    </div>
                                    <div class="col-xs-2">
                                        <button id="moveright" type="button" ng-click="moveItem(availableFeatures, tabfeatures.availableFeatures, tabfeatures.assignedTabs)" class="btn btn-primary btn-block">></button>
                                        <br>
                                        <button id="moverightall" type="button" ng-click="moveAll(tabfeatures.availableFeatures, tabfeatures.assignedTabs)" class="btn btn-primary btn-block">>></button>
                                        <br>
                                        <button id="moveleft" type="button" ng-click="moveItem(selectedFeatures, tabfeatures.assignedTabs, tabfeatures.availableFeatures)" class="btn btn-primary btn-block"><</button>
                                        <br>
                                        <button id="moveleftall" type="button" ng-click="moveAll(tabfeatures.assignedTabs, tabfeatures.availableFeatures)" class="btn btn-primary btn-block"><<</button>
                                    </div>
                                    <div class="col-xs-5">
                                        <div>Assigned Features</div>
                                        <select size="5" multiple ng-model="selectedFeatures" style="width: 100%; height: 150px;" ng-options="feature.name for feature in tabfeatures.assignedTabs track by feature.id"></select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="closeTabModal()">Close</button>
                                    <input type="submit" value="Assign Tabs" class="btn btn-primary btn-sm" ng-click="updateTabFeature(tabfeatures.assignedTabs)">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <div class="modal fade" id="createTabPageModal" tabindex="-1" role="dialog" aria-labelledby="createTabPageModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="createTabPageModalLabel">Create Tab</h4>
                        </div>
                        <div class="modal-body">
                            <form ng-submit="createTab()" class="pb-modalreglog-form-reg">
                                <div class="form-group">
                                    <label>Tab Name</label>
                                    <div class="input-group pb-modalreglog-input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-tag"></span></span>
                                        <input type="text" ng-model="tab.name" class="form-control" id="tabName" placeholder="Enter Tab Name">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <input type="submit" value="Create Tab" class="btn btn-primary btn-sm">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="panel panel-default">
            <div class="alert alert-info">
                <span class="lead">List of Tabs</span>
                <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#createTabPageModal">Create Tab</button>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>Tab Name</th>
                            <th width="100">Edit</th>
                            <th width="100">Delete</th>
                            <th width="150">Features</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="tab in tabs">
                            <td>{{tab.name}}</td>
                            <td>
                                <button type="button" ng-click="editTab(tab.id)" class="btn btn-primary custom-width" data-toggle="modal" data-target="#createTabPageModal">
                                    <span class="glyphicon glyphicon-edit"></span> Edit
                                </button>
                            </td>
                            <td>
                                <button type="button" ng-click="deleteTab(tab.id)" class="btn btn-danger custom-width">
                                    <span class="glyphicon glyphicon-remove"></span> Delete
                                </button>
                            </td>
                            <td>
                                <!--<button type="button" ng-click="assignFeatures(tab.id)" class="btn btn-primary custom-width" data-toggle="modal" data-target="#createTabPageModal">
                                    <span class="glyphicon glyphicon-edit"></span> Assign Features
                                </button>-->
                                <button type="button" ng-click="showFeatures(tab.id)"
                                        class="btn btn-primary custom-width" data-toggle="modal"
                                        data-target="#assignFeaturesModal">
                                    <span class="glyphicon glyphicon-edit"></span> Assign Features
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
